:root {
  --blue:  #81B3D3;
  --black: #000000;
  --white: #ffffff;
  --brown: #766357;
  --gray:  #EEEEEE;
}
html {
  height: 100%;
}
.page {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--black);
  text-transform: uppercase;
}
.welcome-sedona {
  background-image: url("../img/Shape.svg"),  url("../img/background photo.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 510px;
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, center;
}
.header-logo {
  justify-self: center;
}
.navigation {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 26px;
  color: var(--black);
  background-color:var(--white);
}
.header-nav {
  background-color: var( --blue);
}
.header-logo {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%);
}
.site-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 14px 0 16px;
  list-style: none;
}
.site-navigation a {
  color: var(--black);
  /* padding: 17px 20px; */
  text-decoration: none;
}
.site-navigation .link {
  width: 25%;
}
.link-info a {
  margin-left: 73px;
}
.link-left {

}
.link-right {
  text-align: right;
}
.link-hotels a {
  margin-right: 73px;
}
.welcome-sedona {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}
.advantages {
  text-align: center;
  font-size: 21px;
  line-height:21px;
  background-color: var(--white);
}
.advantages h2 {
  margin:  0 auto;
  margin-top: 42.5px;
  width: 470px;
  line-height: 26px;
  font-size: 21px;
  margin-bottom: 43px;
}
.advantages-subtitle {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  margin-bottom: 51px;
}
.advantages-list {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.advantages-list h3 {
  font-size: 21px;
  line-height: 21px;
}
.advantages-item-title {
  margin-top: 0;
  margin-bottom: 25px;
}
.advantages-item {
  display: flex;
}
.advantages-item--gray {
  background-color: var(--gray);
}
/* .advantages-column {
  display: grid;
  width: 400px;
  height: 256px;
  text-align: center;
} */
.advantages-item--row {
  display: grid;
  grid-template-columns: 400px 1fr 1fr;
  grid-column: 1/-1;
  background-color: var(--blue);
  color: var(--white)
}
.advantages-item-icon {
  display: flex;
  flex-direction: column;
  padding: 60px 50px 82px;
  font-size: 14px;
  font-weight: normal;

}
.advantages-item-icon h3 {
  margin-bottom: 28px;
}
.advantages-item-icon p {
  margin: 0;
}
.box-form {
  right: 462px;
  position: absolute;
  padding: 17px;
  /* left: 20px; */
  top: 1683px;
}
.content-img {
  line-height: 0;
  grid-column: 2/-1;
}
.bridge-img {
  line-height: 0;
  grid-column: 1/3;
}
.advantages-item--bridge {
  display: grid;
  grid-template-columns: 1fr 1fr 400px;
  background-color: var(--blue) ;
  margin: 0;
  padding: 0;
  grid-column: 1/-1;
  color: var(--white);
}
.advantages-item-text {
  padding: 50px;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
}
.advantages-item--gray .advantages-item-text  {
  padding: 50px 65px 54px;
}
.advantages-item--bridge .advantages-item-text {
  padding: 50px 45px 50px;
}
.advantages-item-text h2 {
  width: auto;
  margin-top: 0;
  margin-bottom: 25px;
}
.advantages-item-text p {
  margin: 0;
}
p.advantages-item-number {
  margin-bottom: 23px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}
.searching {
  padding-top: 31px;
  text-align: center;
}
.searching h2 {
  margin-bottom: 33px;
  font-size: 30px;
  line-height: 24px;
}
.searching p {
  margin: 0 auto;
  margin-bottom: 45px;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  width: 450px;
}
.searching-button {
  width: 548px;
  display: inline-block;
  vertical-align: middle;
  padding: 30px 10px;
  background-color: var(--brown);
  text-decoration: none;
  color: var(--white);
}

.footer-wrapper {
  display: grid;
  grid-template-columns: 400px 400px 400px;
}
.contacts {
  font-size: 21px;
  line-height:26px;
  color: var(--black);
  background: var(--white);
}
.contacts-list {
  display: flex;
  flex-wrap: wrap;
}
.contacts-item {
  list-style: none;
}
.website {
  display: flex;
}
.search-parameters h2 {
  font-size: 21px;
  line-height: 26px;
  color: var(--black);
  background-color:var(--white)
}
.search-parameters p {
  font-size: 12px;
  line-height: 18px;
  color: var(--black);
  background-color:var(--white)
}
.filters {
  display: flex;
  flex-wrap: nowrap;
}
.searching-filters {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
}
.searching-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 21px;
  line-height: 26px;
  color: var(--black);
  background-color:var(--white);
  text-align: left;
  text-transform:uppercase
}
.searching-item {
  display: flex;
}
.footer {
  position: relative;
}
.info {
  margin-left: 20px;
}
.rating {
  margin-left: auto;
}
.wrapper {
  display: grid;
}
.button-one {
  display: inline-block;
  font-size: 14px;
  line-height: 21px;
  color: var(--white);
  background-color:var(--blue);
  text-align: center;
  text-transform:uppercase;
}
.button-two {
  display: inline-block;
  font-size: 14px;
  line-height: 21px;
  color: var(--white);
  background-color:var(--gray);
  text-align: center;
  text-transform:uppercase
}
.contacts {
  font-size: 21px;
  line-height:26px;
  color: var(--black);
  position: absolute;
  bottom: 0;
  padding: 20px 57px;
  background: rgba(255, 255, 255, 0.9);
}
.contacts-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: var(--blue);
}
.contacts-list {
  display: flex;
  width: 150px;
  flex-wrap: wrap;
  justify-content: space-between;
}
