:root {
  --blue:  #81B3D3;
  --black: #000000;
  --white: #ffffff;
  --brown: #766357;
  --gray:  #EEEEEE;
}
html {
  height: 100%;
}
.page {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--black);
  text-transform: uppercase;
}
.header-logo {
  justify-self: center;
}
.navigation {
  font-size: 14px;
  line-height: 26px;
  color: var(--black);
  background-color:var(--white);
}
.header-nav {
  background-color: var( --blue);
}
.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-navigation a {
  color: var(--black);
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}
.advantages {
  font-size: 21px;
  line-height:21px;
  background-color: var(--blue);
  text-align: center;
}
.advantages-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
}
.advantages-item{
  text-align: center;
}
.advantages-item--row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column: 1/-1;
  background-color: brown;

}
.content-img {
  grid-column: 2/-1;
}
.advantages-item--bridge {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column: 1/-1;
  background-color: brown;
}
.footer-wrapper {
  display: grid;
  grid-template-columns: 400px 400px 400px;
}
.contacts {
  font-size: 21px;
  line-height:26px;
  color: var(--black);
  background: var(--white);
}
.search-parameters h2 {
  font-size: 21px;
  line-height: 26px;
  color: var(--black);
  background-color:var(--white)
}
.search-parameters p {
  font-size: 12px;
  line-height: 18px;
  color: var(--black);
  background-color:var(--white)
}
.searching-items {
  font-size: 21px;
  line-height: 26px;
  color: var(--black);
  background-color:var(--white);
  text-align: left;
  text-transform:uppercase
}
.searching-items--list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: start;
}
.wrapper {
  display: grid;
}
.button-one {
  font-size: 14px;
  line-height: 21px;
  color: var(--white);
  background-color:var(--blue);
  text-align: center;
  text-transform:uppercase

}
.button-two {
  font-size: 14px;
  line-height: 21px;
  color: var(--white);
  background-color:var(--gray);
  text-align: center;
  text-transform:uppercase
}
.contacts {
  font-size: 21px;
  line-height:26px;
  color: var(--black);
  background: var(--white);
}
